.vs/


Source/**/bin/

Source/**/obj/
Source/Web/NopCommerce/Tests/
Source/Web/NopCommerce/Presentation/Nop.Web/Plugins/*/
!Source/Web/NopCommerce/Presentation/Nop.Web/Plugins/SevenSpikes.*/
!Source/Web/NopCommerce/Presentation/Nop.Web/Plugins/bin/
Source/Web/NopCommerce/Presentation/Nop.Web/App_Data/ApiSettings.txt
*.csproj
