.vs/


Source/**/bin/

Source/**/obj/

!Source/Web/NopCommerce/Presentation/Nop.Web/Plugins/

!Source/Web/NopCommerce/Presentation/Nop.Web/Plugins/bin/

!Source/Web/NopCommerce/Presentation/Nop.Web/Plugins/SevenSpikes.**
/